.EventAttendeeList {
  position: relative;
  min-height: 400px;
  padding: 24px;
}

.EventAttendeeList .EventAttendeeList__Header {
  text-align: center;
  align-items: center;
  position: relative;
  padding-bottom: 24px;
}

.EventAttendeeList .EventAttendeeList__Header img {
  display: block;
  position: absolute;
  cursor: pointer;
  box-sizing: content-box;
}

.EventAttendeeList
  .EventAttendeeList__Header
  img.EventAttendeeList__Header__Back {
  width: 8px;
  height: 14px;
  padding: 29px 35px 29px 29px;
  left: -24px;
  top: -24px;
}

.EventAttendeeList
  .EventAttendeeList__Header
  img.EventAttendeeList__Header__Close {
  width: 14px;
  height: 14px;
  padding: 29px;
  right: -24px;
  top: -24px;
}

.EventAttendeeList .EventAttendeeList__Header .SubTitle {
  margin: 0;
  font-size: 21px;
  width: 100%;
}

.EventAttendeeList .EventAttendeeList__Item {
  padding: 12px 0;
  display: flex;
}

.EventAttendeeList .EventAttendeeList__Item img {
  margin-right: 12px;
}

.EventAttendeeList .EventAttendeeList__Item .Paragraph {
  font-weight: 600;
}
