.carousel-events__wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
}

.carousel-events__wrapper__schedule-hightlight {
  background-color: #eeeeee;
}

.carousel-events__title {
  margin-bottom: 30px;
}

.carousel-events__action-wrapper {
  text-align: center;
}
