.Live {
  display: inline-block;
  color: white;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  padding: 3px 8px;
  background-color: var(--primary);
  border-radius: 4px;
}
