# database connection
CONNECTION_STRING=postgres://postgres:postgres@localhost:5432/postgres?schema=public

# list of address with superpowers (separated with `,`)
ADMIN_ADDRESSES=0xffffffffffffffffffffffffffffffffffffffff

# slack hook to report events updates
SLACK_WEBHOOK=
EVENTS_ADMIN_AUTH_TOKEN=<PLACEHOLDER>

# aws access: should have permission to send email and edit a bucket
AWS_REGION=
AWS_ACCESS_KEY=
AWS_ACCESS_SECRET=
AWS_SNS_ARN=
AWS_SNS_ENDPOINT=

# aws bucket
AWS_BUCKET_NAME=nico.decentraland.zone
AWS_BUCKET_URL=https://s3.amazonaws.com/nico.decentraland.zone

# push notification keys, you can use https://www.npmjs.com/package/web-push to generate a key pair
WEB_PUSH_SECRET=<PLACEHOLDER>
WEB_PUSH_KEY=<PLACEHOLDER>

# downstream services
COMMS_GATEKEEPER_URL=
COMMUNITIES_API_URL=https://social-api.decentraland.zone
PLACES_API_URL=https://places.decentraland.org
NOTIFICATION_SERVICE_URL=https://notifications-processor.decentraland.zone
NOTIFICATION_SERVICE_TOKEN=<PLACEHOLDER>
COMMUNITIES_API_ADMIN_TOKEN=<PLACEHOLDER>

# misc
JUMP_IN_SITE_URL=
SERVICE_ORG_DOMAIN=decentraland.org
FEATURE_FLAGS_USER_ID=
