.AttendingButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.AttendingButtons .ui.button.attending-status,
.ui.modal .AttendingButtons .ui.button.attending-status {
  border-color: rgba(115, 110, 125, 0.32);
  background: transparent;
}

.AttendingButtons .ui.button.attending-status.attending {
  color: var(--primary);
}

.ui.modal .AttendingButtons .ui.button.inverted,
.AttendingButtons .ui.button.inverted {
  background-color: transparent;
}
.AttendingButtons .ui.button {
  flex: 0 0 auto;
}

.AttendingButtons .ui.button + .ui.button {
  margin-left: 8px;
}

.AttendingButtons .ui.button.fluid {
  flex: 0 1 auto;
}

.AttendingButtons .ui.button.share {
  min-width: 34px;
  height: 34px;
  padding: 5px 3px;
  border-color: rgba(115, 110, 125, 0.32);
}

.AttendingButtons .ui.button.share img {
  vertical-align: text-bottom;
}

.AttendingButtons .ui.button.share.mobile img {
  margin-right: 0.5em;
}
