.attending-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 530px;
  margin: 0 auto;
}

.attending-buttons .ui.button.attending-status,
.ui.modal .attending-buttons .ui.button.attending-status {
  border-color: var(--text);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attending-buttons .ui.button.attending-status.attending,
.attending-buttons .ui.button.attending-status:not(.attending):hover {
  color: var(--primary);
  border-color: var(--primary);
}

.attending-buttons .ui.button.attending-status.attending:hover {
  color: var(--text);
  border-color: var(--text);
}

.ui.modal .attending-buttons .ui.button.inverted,
.attending-buttons .ui.button.inverted {
  background-color: transparent;
}
.attending-buttons .ui.button {
  flex: 0 0 auto;
}

.attending-buttons .ui.button + .ui.button {
  margin-left: 8px;
}

.attending-buttons .ui.button.fluid {
  flex: 0 1 auto;
}

.attending-buttons .ui.button.share {
  min-width: 34px;
  height: 34px;
  padding: 5px 3px;
  border-color: var(--text);
}

.attending-buttons .ui.button.share img {
  vertical-align: text-bottom;
}

.attending-buttons .ui.button.share.mobile img {
  margin-right: 0.5em;
}
