.EditButtons.pending {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.EditButtons.pending .ui.button {
  width: 49%;
  margin: 0;
}

.EditButtons .ui.button.attending-status,
.ui.modal .EditButtons .ui.button.attending-status {
  width: calc(100% - 46px);
  border-color: rgba(115, 110, 125, 0.32);
  background: transparent;
}

.EditButtons .ui.button.attending-status.attending {
  color: var(--primary);
}

.EditButtons .ui.button.share,
.ui.modal .EditButtons .ui.button.share {
  min-width: 34px;
  height: 34px;
  padding: 5px 2px;
  margin: 0 0 0 8px;
  border-color: rgba(115, 110, 125, 0.32);
}

.EditButtons .ui.button.share img {
  vertical-align: text-bottom;
}
