.JumpInPosition {
  display: inline-block;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.JumpInPosition .JumpInPosition__Position {
  padding: 4px 8px 4px 5px;
  border-radius: 4px;
  display: block;
  background-color: var(--secondary);
  margin-right: 2px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 24px;
}

.JumpInPosition.JumpInPosition--compact .JumpInPosition__Position {
  display: none;
  position: absolute;
  top: 0;
  right: 100%;
  z-index: 1000;
}

.JumpInPosition.JumpInPosition--compact:hover .JumpInPosition__Position {
  display: flex;
}

.JumpInPosition .JumpInPosition__Position img {
  width: 16px;
  margin-right: 4px;
  display: block;
}

.JumpInPosition .JumpInPosition__Position span {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 16px;
  display: block;
  color: #736e7d;
}

.JumpInPosition .JumpInPosition__Icon {
  padding: 5px;
  border-radius: 4px;
  display: block;
  background-color: var(--primary);
  width: 24px;
  height: 24px;
}

.JumpInPosition .JumpInPosition__Icon img {
  width: 14px;
  height: auto;
  display: block;
}

.ui.card .JumpInPosition .JumpInPosition__Icon img,
.ui.card .JumpInPosition .JumpInPosition__Position img,
.ui.cards > .card .JumpInPosition .JumpInPosition__Icon img,
.ui.cards > .card .JumpInPosition .JumpInPosition__Position img {
  vertical-align: super;
}
