.SubmitButton img {
  width: 13px;
  height: auto;
  vertical-align: text-bottom;
  margin-right: 0.5rem;
  margin-bottom: 1px;
}

@media only screen and (max-width: 415px) {
  .SubmitButton img {
    display: none;
  }
}