.ui.modal.EventModal {
  border: 0;
  width: 100%;
  max-width: 580px;
  position: relative;
  max-height: 90vh;
  overflow: auto;
}

.ui.modal.EventModal::-webkit-scrollbar {
  width: 0 !important;
}

.ui.modal.EventModal {
  overflow: -moz-scrollbars-none;
}

.ui.modal.EventModal {
  -ms-overflow-style: none;
}

.ui.modal.EventModal > .content {
  margin: 24px;
}

.EventModal .EventModal__Action {
  min-width: 32px;
  min-height: 32px;
  border-radius: 16px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.EventModal .EventModal__Action.edit {
  right: 64px;
}

.EventModal .EventModal__Action .EventModal__Action__Content {
  padding: 0 1em;
}

.EventModal .EventModal__Action .EventModal__Action__Background {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-color: #16141a;
  border-radius: 16px;
  position: absolute;
  border: 1px solid white;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 767px) {
  .ui.page.modals.dimmer.active.visible {
    padding: 0;
  }

  .modals.dimmer .ui.scrolling.modal.EventModal {
    max-height: 100vh;
    border-radius: 0;
    margin: 0;
  }
}
