.ui.modal.EventModal {
  border: 0;
  width: 520px;
  position: relative;
  max-height: 90vh;
  overflow: auto;
}

.ui.modal.EventModal::-webkit-scrollbar {
  width: 0 !important;
}

.ui.modal.EventModal {
  overflow: -moz-scrollbars-none;
}

.ui.modal.EventModal {
  -ms-overflow-style: none;
}

.ui.modal.EventModal > .content {
  margin: 24px;
}

.EventModal .EventModal__Close {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EventModal .EventModal__Close .EventModal__Close__Background {
  width: 32px;
  height: 32px;
  opacity: 0.16;
  background-color: #16141a;
  border-radius: 100%;
  position: absolute;
  border: 1px solid white;
  top: 0;
  left: 0;
}
