.ui.card.EventCard {
  position: relative;
  overflow: hidden;
}

.ui.card.EventCard.loading {
  pointer-events: none;
}

.ui.card.EventCard.loading .EventCard__Cover {
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1.5s loading linear infinite;
  border-radius: 8px 8px 0 0;
}

.ui.card.EventCard .content,
.ui.card.EventCard .EventCard__Cover .dg.ImgFixed {
  opacity: 1;
  transition: opacity ease 0.3s;
}

.ui.card.EventCard.loading .content,
.ui.card.EventCard.loading .EventCard__Cover .dg.ImgFixed {
  opacity: 0;
}

.ui.card.EventCard .dg.ImgFixed {
  border-radius: 8px 8px 0 0;
}

.ui.card.EventCard.pending {
  opacity: 0.7;
  background: #eee;
}

.ui.card.EventCard .EventCard__Attendees {
  position: absolute;
  z-index: 100;
  top: 12px;
  right: 22px;
}

.ui.card.EventCard .EventCard__Attendees > * {
  margin-right: -10px;
}

.ui.card.EventCard .EventCard__Attendees .EventCard__Attendees__More {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: white;
  color: #37333d;
  font-weight: 600;
  border-radius: 10px;
  padding: 0 0.4em;
  box-sizing: content-box;
  top: 2px;
  position: relative;
}

.ui.card.EventCard .StartIn,
.ui.card.EventCard .Live {
  position: absolute;
  z-index: 100;
  top: 12px;
  left: 12px;
}

.ui.card.EventCard > .content > .header:not(.ui),
.ui.cards > .card.EventCard > .content > .header:not(.ui) {
  margin-top: 0;
}
