.ui.modal.wallet-required-modal {
  max-width: 580px;
  text-align: center;
  padding: 24px;
}

.wallet-required-modal .Paragraph {
  font-size: 18px;
}

.wallet-required-modal .Paragraph.Paragraph--secondary {
  font-size: 14px;
}

.wallet-required-modal .wallet-required-modal__wallets {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}

.wallet-required-modal .wallet-required-modal__wallets .ui.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 5em;
  margin-bottom: 1em;
}

.wallet-required-modal .wallet-required-modal__wallets .ui.button img {
  width: 100%;
  max-width: 150px;
  height: auto;
}
