.LayoutMainContainer > .dcl.tabs {
  background: var(--background);
}

.LayoutMainContainer > .dcl.tabs .dcl.tab {
  color: var(--text);
}

.LayoutMainContainer > .dcl.tabs .ui.container {
  display: flex;
}

.LayoutMainContainer > .dcl.tabs .SubmitButton,
.LayoutMainContainer > .dcl.tabs .SearchInput {
  margin: 0;
  margin-left: 1rem;
}

.LayoutMainContainer > .dcl.tabs .SearchInput {
  min-width: 300px;
}

.LayoutMainContainer > .dcl.tabs .ui.button .icon {
  font-size: inherit;
  line-height: inherit;
  vertical-align: inherit;
}

@media only screen and (max-width: 415px) {
  .LayoutMainContainer > .dcl.tabs .dcl.tab {
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .LayoutMainContainer > .dcl.tabs .SearchInput {
    margin: 0;
  }
}

@media only screen and (max-width: 991px) {
  .LayoutMainContainer > .dcl.tabs {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
  }

  .LayoutMainContainer > .dcl.tabs .ui.container {
    align-items: flex-start;
    flex-direction: column;
  }

  .LayoutMainContainer > .dcl.tabs .tabs__wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
  }

  .LayoutMainContainer > .dcl.tabs .tabs__wrapper:last-child {
    margin-bottom: 8px;
    width: 100%;
  }

  .LayoutMainContainer > .dcl.tabs .SearchInput {
    min-width: 140px;
    flex: 1;
  }

  .LayoutMainContainer > .dcl.tabs .SubmitButton {
    margin-right: 1rem;
  }
}
