.LayoutMainContainer > .dcl.tabs {
  background: var(--background);
}

.LayoutMainContainer > .dcl.tabs .dcl.tab {
  color: var(--text);
}

.LayoutMainContainer > .dcl.tabs .ui.container {
  display: flex;
}

.LayoutMainContainer > .dcl.tabs .SubmitButton,
.LayoutMainContainer > .dcl.tabs .SearchInput {
  margin: 0;
  margin-left: 1rem;
}

.LayoutMainContainer > .dcl.tabs .SearchInput {
  min-width: 300px;
}

@media only screen and (max-width: 991px) {
  .LayoutMainContainer > .dcl.tabs {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
  }

  .LayoutMainContainer > .dcl.tabs .ui.container {
    align-items: flex-start;
    flex-direction: column;
  }

  .LayoutMainContainer > .dcl.tabs .tabs__wrapper {
    display: flex;
    flex-direction: row;
  }

  .LayoutMainContainer > .dcl.tabs .tabs__wrapper:last-child {
    margin-bottom: 8px;
    width: 100%;
  } 
  
  .LayoutMainContainer > .dcl.tabs .SearchInput {
    min-width: 210px;
    flex: 1;
  }
  
  .LayoutMainContainer > .dcl.tabs .SubmitButton {
    margin-right: 1rem;
  }
}