.search-input {
  padding: 8px 32px;
  border: 0;
  border-radius: 5px;
  background: #f2f3f5 no-repeat 8px center;
  background-image: url("../images/magnify.svg");
}

.search-input:focus {
  border: 0;
  outline: none;
}
