.ui.card.EventCardMini.pending {
  opacity: 0.7;
  background: #eee;
}

.ui.card.EventCardMini .content {
  padding: 14px 14px 0;
}

.ui.card.EventCardMini .header {
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: -0.2px;
  color: #16141a;
  max-height: 3em;
  overflow: hidden;
}

.ui.card.EventCardMini .dg.ImgFixed {
  border-radius: 8px 0 0 8px;
}

.ui.card.EventCardMini .JumpInPosition {
  position: absolute;
  background: white !important;
  border: 1px solid white;
  margin: 0;
  border-radius: 100%;
  top: 15px;
  right: 15px;
}

.ui.card.EventCardMini .JumpInPosition img {
  margin: 0;
}

.ui.card.EventCardMini .EventCardMini__Attendees {
  position: absolute;
  z-index: 10;
  top: 6px;
  right: 6px;
}

.ui.card.EventCardMini .EventCardMini__Attendees .dg.ImgAvatar {
  margin-right: -10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.ui.card.EventCardMini
  .EventCardMini__Attendees
  .EventCardMini__Attendees__More {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: white;
  color: #37333d;
  font-weight: 600;
  border-radius: 10px;
  padding: 0 0.4em;
  box-sizing: content-box;
  line-height: 20px;
}

.ui.card.EventCardMini:hover
  .JumpInPosition.JumpInPosition--compact
  .JumpInPosition__Position {
  display: flex;
}

.ui.card.EventCardMini > .content > .header:not(.ui),
.ui.cards > .card.EventCardMini > .content > .header:not(.ui) {
  margin-top: 0;
}
