.scheduled-events {
}

.scheduled-events .scheduled-events__date {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.38;
  text-transform: uppercase;
}

.scheduled-events--mvmf_2022 {
  background: black;
  background-color: #000404;
  background-repeat: no-repeat;
  background-image: url("../images/mvmf-corner.svg"),
    url("../images/mvmf-corner.svg"), url("../images/mvmf-corner.svg"),
    url("../images/mvmf-corner.svg");
  background-position: top 40px left 40px, bottom 40px left 40px,
    top 40px right 40px, bottom 40px right 40px;
}

.scheduled-events--mvmf_2022 .scheduled-events__title--mvmf_2022 {
  padding: 50px 0;
  text-align: center;
}

.scheduled-events--mvmf_2022 .scheduled-events__title--mvmf_2022 img {
  height: 150px;
  width: auto;
  margin: 0 auto;
}

.scheduled-events--mvfw_2023 {
  background-image: url("../images/mvfw.jpeg");
  background-position: 50% top;
  background-repeat: no-repeat;
  background-size: contain;
}

.scheduled-events--mvfw_2023 .scheduled-events__title--mvfw_2023 {
  padding: 32px 0 0;
  text-align: center;
}

.scheduled-events--mvfw_2023 .scheduled-events__title--mvfw_2023 img {
  height: 89px;
  width: auto;
  margin: 0 auto;
}
.scheduled-events--mvfw_2023 .list-events__group-title .dg.SubTitle {
  opacity: 0;
}

.scheduled-events--pride_2023 {
  position: relative;
}

.scheduled-events--pride_2023 svg.background {
  background-image: url("../images/pride-2023-background-gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.scheduled-events--pride_2023 .ui.container {
  position: relative;
}

.scheduled-events--pride_2023 .scheduled-events__title--pride_2023 {
  padding: 32px 0 0;
  text-align: center;
}

.scheduled-events--pride_2023 .scheduled-events__title--pride_2023 img {
  height: 100px;
  width: auto;
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  .scheduled-events--mvmf_2022 {
    background-image: none;
  }
}
