.carousel-events__container-wrapper {
  padding-bottom: 18px;
}

.carousel-events__action-wrapper {
  padding-top: 1rem;
  text-align: center;
}

.carousel-events--with-theme .carousel-events__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.carousel-events--mvmf_2022 {
  background-color: #000404;
  background-repeat: no-repeat;
  background-image: url("../../../images/mvmf-corner.svg"),
    url("../../../images/mvmf-corner.svg"),
    url("../../../images/mvmf-corner.svg"),
    url("../../../images/mvmf-corner.svg");
  background-position: top 40px left 40px, bottom 40px left 40px,
    top 40px right 40px, bottom 40px right 40px;
  padding-top: 32px;
  padding-bottom: 50px;
  /* bac: 'mvmf-corner.svg' */
}

.carousel-events--mvmf_2022 .carousel-events__title--mvmf_2022 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.carousel-events--mvmf_2022 .carousel-events__title--mvmf_2022 img {
  height: 100px;
  width: auto;
}

.carousel-events--mvmf_2022 .carousel-events__title--mvmf_2022 .ui.button {
  background: #242129;
  color: white;
  min-width: 200px;
}

.carousel-events--mvfw_2023 {
  /* background: linear-gradient(180deg, #C86689 0%, rgba(219, 125, 156, 0) 100%); */
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0.2) 80%,
      rgb(255, 255, 255) 98%
    ),
    url("../../../images/mvfw.jpeg");
  background-position: 50% top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 32px;
}

.carousel-events--mvfw_2023 .carousel-events__title--mvfw_2023 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}

.carousel-events--mvfw_2023 .carousel-events__title--mvfw_2023 img {
  height: 89px;
  width: auto;
}

.carousel-events--mvfw_2023 .carousel-events__title--mvfw_2023 .ui.button {
  background: #242129;
  color: white;
  min-width: 200px;
}

.carousel-events--pride_2023 {
  background-color: white;
  background-repeat: no-repeat;
  background-image: url("../../../images/pride-2023-background-gradient.jpg");
  background-size: contain;
  padding-top: 32px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 991px) {
  .carousel-events--mvmf_2022 {
    background-image: none;
  }

  .carousel-events--mvmf_2022 .carousel-events__title--mvmf_2022,
  .carousel-events--mvfw_2023 .carousel-events__title--mvfw_2023 {
    flex-direction: column;
  }

  .carousel-events--mvmf_2022 .carousel-events__title--mvmf_2022 img,
  .carousel-events--mvfw_2023 .carousel-events__title--mvfw_2023 img {
    margin-bottom: 20px;
  }
}
