<html>
  <head>
    <title>{{event_name}} is coming up in Decentraland</title>
    <noscript>
      Get ready, because {{event_name}} ({{event_url}}) is due to start in 10
      minutes. Be sure to enter prior to the event starting so that you don’t
      miss a moment. Let your friends know you’re going and invite others to
      join you by sharing your attendance: facebook: {{share_on_facebook}}
      twitter: {{share_on_twitter}}
    </noscript>
  </head>
  <body>
    <p style="color: #202020; font-family: Helvetica;font-size: 16px;">
      Get ready, because
      <a href="{{event_url}}" style="color:#ff2d55;font-weight: 400;"
        >{{event_name}}</a
      >
      is due to start in 10 minutes. Be sure to enter prior to the event
      starting so that you don’t miss a moment.
    </p>
    <p style="color: #202020; font-family: Helvetica;font-size: 16px;">
      Let your friends know you’re going and invite others to join you by
      sharing your attendance on
      <a href="{{share_on_facebook}}" style="color:#ff2d55">facebook</a> and
      <a href="{{share_on_twitter}}" style="color:#ff2d55">twitter</a>.
    </p>
  </body>
</html>
