.trending-events__group-title {
  width: 100%;
  padding: 24px 0;
}

.trending-events__group-title {
  padding: 24px 0;
  width: 100%;
}

.trending-events__group-title .dg.SubTitle {
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #736e7d;
  text-transform: uppercase;
}
