.ui.modal.EventModal {
  border: 0;
  width: 520px;
  position: relative;
  max-height: 90vh;
  overflow: auto;
}

.ui.modal.EventModal::-webkit-scrollbar {
  width: 0 !important;
}

.ui.modal.EventModal {
  overflow: -moz-scrollbars-none;
}

.ui.modal.EventModal {
  -ms-overflow-style: none;
}

.ui.modal.EventModal > .content {
  margin: 24px;
}

.EventModal .Paragraph {
  font-size: 15px;
  line-height: 16px;
  font-weight: normal;
  margin: 0 0 0.5em;
}

.EventModal .Paragraph--secondary {
  font-size: 15px;
  line-height: 16px;
  font-weight: 300;
}

.EventModal .Divider {
  opacity: 0.24;
  border-color: #736e7d;
  margin: 18px 0;
}

.EventModal .EventModal__Close {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EventModal .EventModal__Close .EventModal__Close__Background {
  width: 32px;
  height: 32px;
  opacity: 0.16;
  background-color: #16141a;
  border-radius: 100%;
  position: absolute;
  border: 1px solid white;
  top: 0;
  left: 0;
}

.EventModal code {
  font-size: 14px;
  color: #736e7d;
  margin: 0;
  white-space: pre;
  font-family: sf mono, Menlo, Monaco, Consolas, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.EventModal .EventModal__Note {
  padding: 1em 2em;
  text-align: center;
  background: #eee;
  border: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
}

.EventModal .EventModal__Header {
  display: flex;
}

.EventModal .EventModal__Header .EventModal__Header__Date {
  height: 64px;
  width: 64px;
  border-radius: 6px;
  background-color: #f3f2f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EventModal
  .EventModal__Header
  .EventModal__Header__Date
  .EventModal__Header__Date__Month {
  font-size: 13px;
  font-weight: 600;
  color: #736e7d;
}
.EventModal
  .EventModal__Header
  .EventModal__Header__Date
  .EventModal__Header__Date__Day {
  font-size: 21px;
  font-weight: 600;
  color: #16141a;
}

.EventModal .EventModal__Header .EventModal__Header__Event {
  padding-left: 16px;
}

.EventModal .EventModal__Header .EventModal__Header__Event .dg.SubTitle {
  font-size: 21px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.3px;
  padding-top: 2px;
  margin: 0;
}

.EventModal .EventModal__Header .EventModal__Header__Event .dg.Paragraph {
  font-size: 17px;
  line-height: 26px;
}

.EventModal .EventModal__Detail {
  display: flex;
}

.EventModal .EventModal__Detail .EventModal__Detail__Icon {
  flex: 0 0 28px;
}

.EventModal .EventModal__Detail .EventModal__Detail__Icon.center {
  display: flex;
  align-items: center;
}

.EventModal .EventModal__Detail .EventModal__Detail__Item {
  flex: 1 0 auto;
}

.EventModal .EventModal__Detail .EventModal__Detail__Action {
  flex: 0 1 auto;
}
