body {
  background: var(--background);
}

.LayoutMainContainer > .ui.container,
.LayoutMainContainer > .ui.container-wrapper {
  padding-top: 24px;
}

.dcl.navbar.LayoutNavbarContainer {
  margin-bottom: 0;
  border-bottom: 0;
}

.dcl.navbar.LayoutNavbarContainer.initial {
  background-color: var(--background);
}

.ui.container > .SignIn {
  position: relative;
}

.ui.container.full,
.dcl.hero .ui.container,
.ui.container.footer.LayoutFooterContainer,
.LayoutNavbarContainer > .ui.container,
.LayoutMainContainer > .dcl.tabs .ui.container,
.navigation-menu.fullscreen .dcl.tabs .ui.container {
  width: calc(100% -48px) !important;
}

.LayoutMainContainer > .dcl.tabs .ui.container {
  display: flex;
  flex-wrap: wrap;
}

.botom_tabs__wrapper,
.tabs__wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.dcl.tabs {
  height: unset !important;
}

@media only screen and (max-width: 1370px) {
  .botom_tabs__wrapper {
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
  }
}

@keyframes loading {
  to {
    background-position-x: -200%;
  }
}

.ui.one.cards > .ui.card {
  width: 100%;
  margin-right: 0px;
}

.ui.two.cards > .ui.card {
  margin-left: 1em;
  margin-right: 1em;
  width: calc(50% - 2em);
}

.ui.three.cards > .ui.card {
  margin-left: 1em;
  margin-right: 1em;
  width: calc(33.33333% - 2em);
}

.ui.two.cards > .ui.card:nth-child(2n),
.ui.two.cards > .ui.card:nth-child(3n) {
  margin-right: 1em;
}
