.dcl.field,
.dcl.select-field,
.dcl.select-field .ui.selection.dropdown {
  min-width: auto;
}

.dcl.field .ui.sub.header,
.dcl.select-field .ui.sub.header {
  text-transform: none;
  font-size: 15px;
}

a.dg.Link {
  cursor: pointer;
}

p.FieldNote {
  margin-top: 18px;
}

.image-input .image-input__content .image-input__description {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-input .image-input__content .image-input__description .dg.Paragraph {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #736e7d;
}

.image-input
  .image-input__content
  .image-input__description
  .dg.Paragraph
  .image-input__description-primary {
  color: var(--primary);
}

.submit__category-select-label {
  background-color: #cfcdd4;
  color: #000;
}

.submit__category__dao {
  color: var(--primary);
}

.ui .submit__category-select-wrapper {
  margin-bottom: 10px;
}

.admin-area {
  width: 100%;
  border: 2px solid var(--secondary);
  border-radius: 8px;
  padding-bottom: 2rem;
  margin: 1rem 0;
}

.error {
  color: var(--error);
}

.dcl.select-field .ui.dropdown > .text > .image,
.ui.dropdown > .text > img {
  margin-top: -2px;
}

.dcl.select-field .dropdown .menu > .item > .image,
.ui.dropdown .menu > .item > img {
  margin-top: -2px;
}

.dcl.select-field .ui.dropdown .text {
  text-transform: capitalize;
}

.submit__row-description .dcl.text-area .title label,
.submit__row-details .dcl.text-area .title label {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}
