.EventDetail .Paragraph {
  font-size: 15px;
  line-height: 16px;
  font-weight: normal;
  margin: 0 0 0.5em;
}

.EventDetail .Paragraph--secondary {
  font-size: 15px;
  line-height: 16px;
  font-weight: 300;
}

.EventDetail .Paragraph.error {
  color: #ff0000;
  text-align: right;
  margin-top: 0.1em;
}

.EventDetail .Divider {
  opacity: 0.24;
  border-color: #736e7d;
  margin: 0 24px;
}

.EventNote {
  background: #eee;
  border: 1px solid #736e7d;
  color: #736e7d;
}

.EventNote {
  padding: 1em 2em;
  text-align: center;
  border-left: 0;
  border-right: 0;
}

.EventDetail__Detail__Item code,
.EventNote code {
  font-size: 14px;
  margin: 0;
  white-space: pre;
  font-family: sf mono, Menlo, Monaco, Consolas, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.EventNote.EventNote--error {
  background: #feced7;
  border: 1px solid #ff3d61;
  color: #ff3d61;
}

.EventDetail input,
.EventDetail textarea {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5em 1em;
  font-size: 14px;
  width: 100%;
}

.EventDetail input.error,
.EventDetail textarea.error {
  border: 1px solid #ff0000;
}

.EventDetail .EventDetail__Header {
  display: flex;
  padding: 18px 24px;
}

.EventDetail .EventDetail__Header .EventDetail__Header__Event {
  padding-left: 16px;
  flex: 1;
}

.EventDetail .EventDetail__Header .EventDetail__Header__Event .dg.SubTitle {
  font-size: 21px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.3px;
  padding-top: 2px;
  margin: 0;
}

.EventDetail
  .EventDetail__Header
  .EventDetail__Header__Event
  .EventDetail__Header__Event__By {
  font-size: 17px;
  line-height: 26px;
}

.EventDetail .EventDetail__Header .EventDetail__Header__Actions {
  padding-left: 1em;
}

.EventDetail .EventDetail__Actions,
.EventDetail .EventDetail__Detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 18px 24px;
}

.EventDetail .EventDetail__Actions .AttendingButtons {
  width: 100%;
}

.EventDetail .EventDetail__Detail.extra {
  background-color: #ffeed6;
}

.EventDetail .EventDetail__Detail .EventDetail__Detail__Icon {
  flex: 0 0 28px;
}

.EventDetail
  .EventDetail__Detail.EventDetail__Detail--edit
  .EventDetail__Detail__Icon {
  padding-top: 0.5em;
}

.EventDetail .EventDetail__Detail .EventDetail__Detail__Icon.center {
  display: flex;
  align-items: center;
}

.EventDetail .EventDetail__Detail .EventDetail__Detail__Item {
  flex: 1 1 auto;
  max-width: 90%;
}

.EventDetail .EventDetail__Detail .EventDetail__Detail__Item .dg.ImgAvatar {
  margin-right: 8px;
}

.EventDetail .EventDetail__Detail__ShowAttendees {
  display: inline-flex;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: #37333d;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: white;
  cursor: pointer;
}

.EventDetail .EventDetail__Detail__ShowAttendees.MoreThan10 {
  font-size: 14px;
}

.EventDetail .EventDetail__Detail__ShowAttendees.MoreThan100 {
  font-size: 12px;
}

.EventDetail .EventDetail__Detail__ShowAttendees.MoreThan1000 {
  font-size: 9px;
}

.EventDetail .EventDetail__Detail .EventDetail__Detail__Action {
  flex: 0 0 auto;
}

@media only screen and (max-width: 767px) {
  .EventDetail .EventDetail__Actions,
  .EventDetail .EventDetail__Detail {
    justify-content: flex-end;
  }
}
