name: Pull Request

on:
  pull_request:
    branches:
      - master
    types:
      - opened
      - synchronize

jobs:

  release:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Reconfigure git to use HTTP authentication
        run: >
          git config --global url."https://github.com/".insteadOf "ssh://git@github.com/"

      - name: node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: 16.14.2
          registry-url: https://registry.npmjs.org/
          cache: 'npm'

      - name: installing
        run: npm ci

      - name: linters
        uses: wearerequired/lint-action@v1
        with:
          prettier: true
          prettier_extensions: ts,tsx,js,jsx,json,md,mdx,css
          continue_on_error: false
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: testing
        run: NODE_OPTIONS="--max-old-space-size=4096" npm test -- --coverage

      - name: coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: setup envs
        run: touch .env

      - name: build image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: events
          tags: ${{ github.sha }}
          dockerfiles: |
            ./Dockerfile
